.about {
	display: flex;
	width: 100%;
	gap: 2rem;
	font-size: 1.8rem;
	line-height: 1.1;
	position: relative
}

.about__flex:nth-child(1) {
	flex: 3;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.fixo{
	height: 300px;
}

.bio,
.services,
.exhibitions,
.education {
	display: flex;
	gap: 1.5rem;
}

 .services {
	justify-content: space-between;
} 

.bio .title,
.services__flex .title,
.exhibitions .title,
.education .title {
	margin-top: -3px;
	text-align: right;
	font-size: 3.5rem;
	font-family: 'DD-Regular';
}

.services__flex {
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: flex-start;
	align-items: flex-start;

}

.about__flex:nth-child(2) {
	flex: 1;
}

.bio,
.about__flex:nth-child(2),
.services,
.exhibitions,
.education {
	background-color: rgba(197, 197, 197, 0.2);
	border-radius: 34px;
	padding: 20px;
}

li {
	padding-bottom: 0.3rem;
}
 