.btnFilter {
	position: fixed;
	right: 0;
	left: 0;
	bottom: 0;
	margin: 2rem;
	font-size: 1.25rem;
	text-align: center;
	display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0.5rem;
    z-index: 10;
}

.btn__content button,
.dropdown__content {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: rgba(197, 197, 197, 0.2);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 34px;
	padding: 9px 18px 8px 18px;
	border: 0px solid var(--black);
}

.dropdown__content button{
   margin: 0 .5rem
}