.project__item {
	height: 600px;
	border-radius: 20px;
	overflow: hidden;
	position: relative;
}

.item__gallery {
	position: relative;
	height: 100%;
	width: 100%;
}

.item__gallery img {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.item__gallery video {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: #dedede;
}

.item__gallery:nth-child(5) video {
	background-color: red;
}

.item__id {
	display: none;
	flex-direction: column;
	gap: 0.5rem;
	position: absolute;
	bottom: 0;
	margin: 1rem;
	font-weight: 900;
}

.project__item:hover .item__id {
	display: flex;
}

.item__id .title {
	font-size: 3.5rem;
	font-family: 'DD-Regular';
	margin-top: 10px;
	color: white;
	mix-blend-mode: exclusion;
}

.type {
	display: flex;
	gap: 0.5rem;
	color: var(--text-color-light);
}

.type div {
	font-size: 0.9rem;
	padding: 8px 11px 7px 11px;
	display: flex;
	border-radius: 34px;
	background-color: rgb(255, 255, 255);
}
