.home__about {
	padding: 5rem;
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
}

.about__content {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 20px;
	justify-content: center;
	align-items: center;
}

.about__content div:nth-child(1) {
	font-family: 'DD-Regular';
	font-size: 5rem;
	line-height: 1.2;
	letter-spacing: 2px;
}

.about__link {
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: rgba(197, 197, 197, 0.2);
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 34px;
	padding: 9px 18px 8px 18px;
	text-align: center;
	border: 0px solid var(--black);
	font-size: 1.25rem;
	font-family: 'Whyte-Light';
}
