.navbar {
	width: 100%;
	font-size: 1.25rem;
	top: 1rem;
	left: 0;
	right: 0;
	z-index: 10;
	position: sticky;
}

.navbar__item {
	display: flex;
	padding:  0.5rem 1rem;
	justify-content: space-between;
	position: relative;
	border-radius: 12px;
	backdrop-filter: blur(10px);
	-webkit-backdrop-filter: blur(10px);
	background-color: rgba(197, 197, 197, 0.5);
}

.item__flex {
	text-align: center;
}

.item__flex {
	display: flex;
	gap: 1rem;
}
