.index {

	font-family: 'DD-Regular';
	font-size: 2.5rem;
}

.index__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	gap: 0.5rem;
}

.list__item {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	gap: 1rem;
	align-items: baseline;
}

.list__title {
	letter-spacing: 1px;
}

.list__year {
	width: 80px;
	font-weight: 500;
}

.list__category {
	font-size: 1.7rem;
	display: flex;
	gap: 10px;
	font-weight: 500;
}
